// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



h1{color: seagreen;}
.container-fluid{padding: 0;

display:flex;justify-content:center;align-items:center;width:100%;height:100%;}

@keyframes animatedBackground {
	from { background-position: 0 0 0 0; }
	to { background-position: 0 100%; }
}


#backimg	{ 
	width: 100%; 
	height: 680px; 
	opacity: 0.8;
	background-image: url('/assets/b2b.jpg');
	background-position: 0px 0px ;
	background-repeat: repeat-x;

	animation: animatedBackground 55s linear infinite;
}

.login{width:600px;
	   height:400px;
	   opacity: 0.8;
	   border-radius: 30px;
	   background-color: #FF9F2B;
       background-image:-webkit-linear-gradient(top, #FF9F2B, #FFEB78); 
       background-image:linear-gradient(to bottom, #FF9F2B, #FFEB78);
       box-shadow: 1px 1px 15px #FF9F2B, 0px 0px 20px #FF5D1A,-1px -1px 15px #FF9F2B, -0px -0px 20px #FF5D1A;
	    }


/*	   <div style="display:flex;justify-content:center;align-items:center;width:100%;height:100%;">
  <div style="width:600px;height:400px;"></div>
</div>*/
